{{/* 
  SEO Meta Tags Partial
  Generates Open Graph, Twitter Card, and other meta tags for social sharing
*/}}

{{ $context := . }}
{{ $title := .Title }}
{{ $description := .Params.description | default .Summary | default .Site.Params.description | default "Welcome to our site" }}
{{ $url := .Permalink | absURL }}
{{ $siteName := .Site.Title }}
{{ $image := "" }}

{{/* Determine the best image for social sharing */}}
{{ if .Params.image }}
  {{ $image = .Params.image | absURL }}
{{ else if .Params.featured_image }}
  {{ $image = .Params.featured_image | absURL }}
{{ else if .Site.Params.default_image }}
  {{ $image = .Site.Params.default_image | absURL }}
{{ else if .Site.Params.logo }}
  {{ $image = .Site.Params.logo | absURL }}
{{ end }}

{{/* Page type for Open Graph */}}
{{ $ogType := "website" }}
{{ if eq .Type "blog" }}
  {{ $ogType = "article" }}
{{ else if eq .Type "books" }}
  {{ $ogType = "article" }}
{{ end }}

<!-- SEO Meta Tags -->
<meta name="description" content="{{ $description }}">
<meta name="keywords" content="{{ delimit .Keywords ", " }}">
<meta name="author" content="{{ .Site.Params.author | default .Site.Title }}">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ $ogType }}">
<meta property="og:url" content="{{ $url }}">
<meta property="og:site_name" content="{{ $siteName }}">
{{ if $image }}
<meta property="og:image" content="{{ $image }}">
<meta property="og:image:alt" content="{{ $title }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{ end }}
<meta property="og:locale" content="{{ .Site.Language.Lang | default "en_US" }}">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{ if $image }}
<meta name="twitter:image" content="{{ $image }}">
<meta name="twitter:image:alt" content="{{ $title }}">
{{ end }}
{{ with .Site.Params.social.twitter }}
<meta name="twitter:site" content="@{{ . }}">
<meta name="twitter:creator" content="@{{ . }}">
{{ end }}

<!-- LinkedIn specific meta tags -->
<meta property="article:author" content="{{ .Site.Params.author | default .Site.Title }}">
{{ if eq .Type "blog" }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ if .Lastmod }}
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}
{{ if .Params.tags }}
{{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ end }}
{{ end }}

<!-- Additional meta tags for better SEO -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ $url }}">

<!-- Favicon -->
{{ if .Site.Params.favicon }}
<link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon | absURL }}">
{{ end }}
