{{ $instagram := .Site.Params.social.instagram }}
{{ $github := .Site.Params.social.github }}
{{ $linkedin := .Site.Params.social.linkedin }}
{{ $youtube := .Site.Params.social.youtube }}
<ul class="flex flex-row gap-4 social-links">
  {{ if $instagram }}<li><a href="https://instagram.com/{{ $instagram }}" title="Instagram"><i class="fab fa-instagram"></i></a></li>{{ end }}
  {{ if $github }}<li><a href="https://github.com/{{ $github }}" title="GitHub"><i class="fab fa-github"></i></a></li>{{ end }}
  {{ if $linkedin }}<li><a href="https://linkedin.com/in/{{ $linkedin }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>{{ end }}
  {{ if $youtube }}<li><a href="https://youtube.com/@{{ $youtube }}" title="YouTube"><i class="fab fa-youtube"></i></a></li>{{ end }}
</ul>
